div(style=";border:#0095ff solid 2px;padding-left:20px")(id="{$_name}").atk-swatch-ink
	div(style="height:50px;")
		div(style='float:left')
			.atk-size-kilo
				p.atk-swatch-ink{$user} :
		div(style='float:left;margin-left:10px')
				.atk-size-kilo{$comment}
		div(style="float:right;margin-top:20px;margin-right:20px")
			{$cremove}
	
		//-&nbsp;{$clike}
	//- div(style="height:20px")
		


