t.atk-row.atk-push.atk-padding(id="{$_name}")
	.atk-push
	{rows}{row}
	.atk-row.atk-push
		.atk-col-3
			.atk-box.atk-swatch-blue
				.atk-size-giga{$name}
				.atk-swatch-ink &nbsp;&nbsp;{$username}
		.atk-col-3
			a(href="javascript:void(0)" data-id="{$id}").pull-right.do-like.atk-box-small |Like
	{/}{/}