
<div>
  <div class="atk-size-mega atk-swatch-blue">
    <div class="atk-row">
      <div class="atk-col-7 atk-size-exa">Let's Share</div>
      <div class="atk-col-5 atk-padding-small">{$log}{$create}{$profile}{$chpass}{$edit}
      </div>
    </div>
  </div>
  <div style="width:100%">{$UserPage}
    <div class="atk-push-large"></div>
    <div class="atk-push-large"></div>
  </div>{$sidebar}
  <div style="width:100%">{$Content}
    <div class="atk-push-large"></div>
    <div class="atk-push-large"></div>
  </div>
</div>
<div style="float:left;margin:150px;">
  <div style="margin-left:50px;">
    <div class="atk-swatch-ink atk-size-kilo">Website Developed by: Moiz Amet</div>
  </div>
</div>