div
	div.atk-size-mega.atk-swatch-blue
		.atk-row
			.atk-col-7.atk-size-exa Let's Share
			.atk-col-5.atk-padding-small
				//- a(href="?page=tweetaccount") Login 
				{$log}
				
				//- a(href="#") Create Account
				{$create}
				
				//- a(href="#") Profile
				{$profile}
				
				//- a(href="#") Profile
				{$chpass}
				
				//- a(href="#") Profile
				{$edit}
	



	div(style="width:100%")
		{$Content}
		.atk-push-large
		.atk-push-large
	



div(style="float:left;margin:150px;")
	div(style="margin-left:50px;")
		.atk-swatch-ink.atk-size-kilo Website Developed by: Moiz Amet
