.atk-row(style="border:white solid 3px;margin-left:0px")(id="{$_name}").atk-swatch-ink 
	.atk-col-10(style="margin-left:30px;padding:2px;color:#0095ff;font-weigth:bold;")
		{$Content}
	.atk-col-2
		{$post}


