.atk-row(id="{$_name}")
	.atk-col-6.atk-size-reset
				&nbsp;
				{other}
				.atk-push.atk-box.atk-swatch-blue
					.atk-row(style="float:right")
						.atk-col-12.atk-size-kilo
							{$messagewrite}
							b&nbsp;:&nbsp;You
						//- .atk-col-9

					.atk-row
						{$msgbtn}
						//- {$time}&nbsp;&nbsp;{$date}						
