
<div style="margin-top:10px;margin-left:1px;padding:1px" class="atk-row">{rows}{row}
  <div style="margin-top:10px;" class="atk-row"><a href="{$notiurl}">
      <p style="margin-left:30px;padding-left:5px" class="atk-size-kilo atk-icon-basic-user">
        {$actionname}
        {$noti} 
      </p></a>{$Content}	</div>{/}{/}
  <div style="margin-left:35px;margin-top:30px;padding-left:5px" class="atk-row"><a href="?page=allnotification" class="atk-size-kilo atk-swatch-ink">{$seeall}</a></div>
</div>