
<div>
  <div>
    <h1 class="atk-allign-center atk-box atk-swatch-blue">Welcome to Share Your Thoughts ..</h1>
    <div style="margin-bottom:30px ">
      <div style="float:left; width:70%;"><img src="images/fest.jpg" width="100%"/></div>
      <div style="width:30%;margin-bottom:2px; height:100%;float:left;" class="atk-swatch-ink atk-padding-small">
        <div class="atk-padding-small atk-swatch-green atk-size-tera">About Us !!</div>
        <p style="margin:10px;" class="atk-swatch-ink atk-size-mega">Hello Every One. I wanna give my Enthusiatic User a little intro about myself. My Name is 
          <U>MOIZ AMET </U>and i am a Developer #Geeky Guy. i Love Coding and ambitious of Cyber Security. This is my First php project acomplished using Agile Toolkit. Try this small Social App 
          <u>'Share it'
            <p class="atk-size-kilo">Ur Suggestions are Valueable. Thanks !!</p>
          </u>
        </p>
      </div>
    </div>
  </div>
  <div style="margin-top:10px">
    <div style="text-allign:center"><a href="?page=tweet_tweets" style="width:10%;float:left" class="atk-box atk-swatch-blue">
        <div class="atk-size-tera">Login</div></a><a href="?page=tweetaccount" style="width:20%;margin-left:30px;float:left" class="atk-box atk-swatch-ink">
        <div class="atk-size-tera">Register</div></a></div>
  </div>
</div>