div
	div
		h1.atk-allign-center.atk-box.atk-swatch-blue
			| Welcome to Share Your Thoughts ..
		div(style="margin-bottom:30px ")
			div(style="float:left; width:70%;")
				img(src="images/fest.jpg" width="100%")		
			div(style="width:30%;margin-bottom:2px; height:100%;float:left;").atk-swatch-ink.atk-padding-small
				.atk-padding-small.atk-swatch-green.atk-size-tera About Us !!
				p.atk-swatch-ink.atk-size-mega(style="margin:10px;") Hello Every One. I wanna give my Enthusiatic User a little intro about myself. My Name is 
					U MOIZ AMET 
					|and i am a Developer #Geeky Guy. i Love Coding and ambitious of Cyber Security. This is my First php project acomplished using Agile Toolkit. Try this small Social App 
					u 'Share it'
						p.atk-size-kilo Ur Suggestions are Valueable. Thanks !!


	div(style="margin-top:10px")
		div(style="text-allign:center")
			a(href="?page=tweet_tweets").atk-box.atk-swatch-blue(style="width:10%;float:left")
				.atk-size-tera Login
			a(href="?page=tweetaccount").atk-box.atk-swatch-ink(style="width:20%;margin-left:30px;float:left")
				.atk-size-tera Register




			