
<div class="atk-box atk-swatch-blue">
  <div class="atk-row">
    <div class="atk-col-3"><img src="{$image}" style="width:200px;height:200px;border-radius:100%" class="img-class"/>
    </div>
    <div class="atk-col-9">
      <div class="atk-row">
        <div class="atk-col-8">
          <div class="atk-size-tera atk-push">{$name}</div>
        </div>
        <div class="atk-col-4">{$username}</div>
      </div>
      <div class="atk-row atk-size-kilo">
        <div class="atk-col-4">Gender</div>
        <div class="atk-col-4">{$gender}</div>
        <div class="atk-push"></div>
      </div>
      <div class="atk-row atk-size-kilo atk-push">
        <div class="atk-col-4">Date of Birth</div>
        <div class="atk-col-6">{$date}</div>
      </div>
      <div class="atk-row">
        <div class="atk-col-8">&nbsp;</div>
        <div class="atk-col-4">
          {$trend}
          {$message}
        </div>
      </div>
    </div>
  </div>
  <div class="atk-row">
    <div class="atk-col-3">
       
      you are Following : 
      <div class="atk-size-tera">{$Followers}{$following}</div>
    </div>
    <div class="atk-col-3">
       
      you are Followed By : 
      <div class="atk-size-tera">{$Followings}{$followers}</div>
    </div>
    <div class="atk-col-3">
       
      Number of Tweets : 
      <div class="atk-size-tera">{$tW}</div>
    </div>
  </div>
</div>