.atk-row
	.atk-col-4
		.atk-box
			.atk-row
				.atk-col-8
					.atk-size-giga 
						a(href="?page=user&id=1"){$name}{$id}
					p.atk-text-dimmed {$username}
				.atk-col-4 {$date}
			hr
			.atk-row
					{message}{$Content}{/message}
					{imageupload}{/imageupload}					
			.atk-push
			.atk-row			
				{$post}
					
					

