
<div class="atk-row">
  <div class="atk-col-4">
    <div class="atk-box">
      <div class="atk-row">
        <div class="atk-col-8">
          <div class="atk-size-giga"> <a href="?page=user&amp;id=1">{$name}{$id}</a></div>
          <p class="atk-text-dimmed">{$username}</p>
        </div>
        <div class="atk-col-4">{$date}</div>
      </div>
      <hr/>
      <div class="atk-row">
        {message}{$Content}{/message}
        {imageupload}{/imageupload}					
      </div>
      <div class="atk-push"></div>
      <div class="atk-row">
        			
        {$post}
      </div>
    </div>
  </div>
</div>