html
  body
    h1.atk-margin-bottom--l.atk-align-center Social Feed
    .atk-items-spacingVertical--l.atk-col-6.atk-move-center
      article
        .atk-cells-spacing.atk-align-top
          .atk-cell
            a.atk-shape-circle.atk-overflow.atk-swatch-gray.atk-text-font--clear(href='#')
              img(src='../temp/kanye.jpg', width='48', height='48')
          .atk-cell
            .atk-box.atk-swatch-gray.atk-margin-bottom--s.atk-padding--s.atk-popover-left-top
              .atk-popoverArrow
              .atk-margin-bottom--xs.atk-text-baseline--single
                span.atk-text-bold.atk-margin-right--xs {$user}
                span.atk-comment
                  a(href='#') @kanyewest
                  |  ⋅ Feb 10
              |           I'm sorry Michael Jordan    I love and respect you. My beef was with Mark Parker. I respect you so much!
            .atk-cells-spacing--l
              .atk-cell
                .atk-text-caps-size--xs Tweets
                a.atk-text-size--3xl(href='#') 365
              .atk-cell
                .atk-text-caps-size--xs Following
                a.atk-text-size--3xl(href='#') 1
              .atk-cell.atk-expand
                .atk-text-caps-size--xs Followers
                a.atk-text-size--3xl(href='#') 18.6M
      //- article
      //-   .atk-cells-spacing.atk-align-top
      //-     .atk-cell
      //-       a.atk-shape-circle.atk-overflow.atk-swatch-gray.atk-text-font--clear(href='#')
      //-         img(src='../temp/kanye.jpg', width='48', height='48')
      //-     .atk-cell
      //-       .atk-box.atk-swatch-gray.atk-margin-bottom--s.atk-padding--s.atk-popover-left-top
      //-         .atk-popoverArrow
      //-         .atk-margin-bottom--xs.atk-text-baseline--single
      //-           span.atk-text-bold.atk-margin-right--xs Kanye West
      //-           span.atk-comment
      //-             a(href='#') @kanyewest
      //-             |  ⋅ Feb 10
      //-         |           I'm sorry Michael Jordan    I love and respect you. My beef was with Mark Parker. I respect you so much!
      //-       .atk-cells-spacing--l
      //-         .atk-cell
      //-           .atk-text-caps-size--xs Tweets
      //-           a.atk-text-size--3xl(href='#') 365
      //-         .atk-cell
      //-           .atk-text-caps-size--xs Following
      //-           a.atk-text-size--3xl(href='#') 1
      //-         .atk-cell.atk-expand
      //-           .atk-text-caps-size--xs Followers
      //-           a.atk-text-size--3xl(href='#') 18.6M
