
<html>
  <body>
    <h1 class="atk-margin-bottom--l atk-align-center">Social Feed</h1>
    <div class="atk-items-spacingVertical--l atk-col-6 atk-move-center">
      <article>
        <div class="atk-cells-spacing atk-align-top">
          <div class="atk-cell"><a href="#" class="atk-shape-circle atk-overflow atk-swatch-gray atk-text-font--clear"><img src="../temp/kanye.jpg" width="48" height="48"/></a></div>
          <div class="atk-cell">
            <div class="atk-box atk-swatch-gray atk-margin-bottom--s atk-padding--s atk-popover-left-top">
              <div class="atk-popoverArrow"></div>
              <div class="atk-margin-bottom--xs atk-text-baseline--single"><span class="atk-text-bold atk-margin-right--xs">{$user}</span><span class="atk-comment"><a href="#">@kanyewest</a> ⋅ Feb 10</span></div>          I'm sorry Michael Jordan    I love and respect you. My beef was with Mark Parker. I respect you so much!
            </div>
            <div class="atk-cells-spacing--l">
              <div class="atk-cell">
                <div class="atk-text-caps-size--xs">Tweets</div><a href="#" class="atk-text-size--3xl">365</a>
              </div>
              <div class="atk-cell">
                <div class="atk-text-caps-size--xs">Following</div><a href="#" class="atk-text-size--3xl">1</a>
              </div>
              <div class="atk-cell atk-expand">
                <div class="atk-text-caps-size--xs">Followers</div><a href="#" class="atk-text-size--3xl">18.6M</a>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </body>
</html>